body {
  background: #212529;
}
.loader {
    width: 100px;
    aspect-ratio: 1;
    background:
      radial-gradient(farthest-side,#ffa516 90%,#0000) center/16px 16px,
      radial-gradient(farthest-side,green   90%,#0000) bottom/12px 12px;
    background-repeat: no-repeat;
    animation: l17 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
  .loader::before {    
    content:"";
    position: absolute;
    width: 8px;
    aspect-ratio: 1;
    inset: auto 0 16px;
    margin: auto;
    background: #ccc;
    border-radius: 50%;
    transform-origin: 50% calc(100% + 10px);
    animation: inherit;
    animation-duration: 0.5s;
  }
  @keyframes l17 { 
    100%{transform: rotate(1turn)}
  }

.red {
  color: rgb(218, 66, 66);
} 

.userPost {
  background: linear-gradient(#ebf2e6, #eee);
  background-color: #212529;
  
}
/* chat.css */
.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.chatMain {
  display: flex;
  flex: 1;
}

.side1, .side2 {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.side1 {
  border-right: 1px solid #ddd;
  overflow-y: auto;
  width: 100vw;
  
}

.side2 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-y: auto;
  display: none;
}

.list-group-item {
  cursor: pointer;
  border: none;
  padding: 10px;
 
}
strong {
  color: #000
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
 
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 70vh;
  overflow-y: auto;
}

.message {
  margin-bottom: 1rem;
  display: flex;
  word-wrap: break-word;
  max-width: 80%;
  font-family: "Noto Sans", sans-serif;
}

.sent {
  align-self: flex-end;
  text-align: right;
}

.received {
  align-self: flex-start;
  text-align: left;
}

.sent p {
  background-color: #3797f0;
  color: #fff;
  padding: 0.6rem 0.8rem;
  border-radius: 20px;
}

.received p {
  background-color: #585757;
  color: #e0e0e0;
  padding: 0.6rem 0.8rem;
  border-radius: 20px;
}

.message-input-container {
  display: flex;
  justify-content: flex-end;
}

.message-input {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-control {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #393737;
  border-radius: 8px;
  margin-right: 0.5rem;
  font-size: 1rem;
  outline: none;
  background: transparent;
  border-radius: 25px;
  color: #e0e0e0;
}

.btn-primary {
  background-color: #262626;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #0056b3;
}



